body { 
  
  font-family: Arial, Helvetica, sans-serif;
  background: #777;
  font-size: 18;
  text-align: center;
  width: 960px;
  

}

.headernav {
   
   color: #777;
   margin: 10px auto;
   padding: 30px;
   max-width: 100%;
   text-align: center;
   background: #ebebeb;
  
   
}



.aside {
  width:460px;
  margin: 0px 0px 0px 0px;
  padding: 150px;
  float:right;
  text-align: center;
  max-width: 100%;
  color: #777;
  background: #ebebeb;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

section {
  width:490px;
  background: #ebebeb;
  margin: 0px;
  padding: 60px;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

article {
  width:300px;
  padding: 20px;
  background: lightgrey;
  margin: 5px;
}